.app-container {
  text-align: center;
}

.app-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-text__link {
  color: inherit;
  text-decoration: none;
}
